@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

   <!-- Include PartialView1 -->
    <partial name="HomePartial/main" />


       <!-- Include PartialView2 -->
    <partial name="HomePartial/why_us" />

   <!-- Include PartialView3 -->
    <partial name="HomePartial/ca_brief" />

   <!-- Include PartialView4 -->
    <partial name="HomePartial/services" />

     <!-- Include PartialView5 -->
    <partial name="HomePartial/diplomas" />

 <!-- Include PartialView6 -->
    <partial name="HomePartial/courses" />

 <!-- Include PartialView7 -->
    <partial name="HomePartial/our_programs" />

     <!-- Include PartialView8 -->
    <partial name="HomePartial/testimonials" />


